<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workout Plan Generator</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h1>Workout Plan Generator</h1>
    
    <form action="/" method="POST">
        <label for="weight">Enter your weight (kg):</label>
        <input type="text" id="weight" name="weight" required><br>

        <label for="height">Enter your height (cm):</label>
        <input type="text" id="height" name="height" required><br>

        <button type="submit">Calculate BMI</button>
    </form>

    {% if bmi %}
        <h2>Your BMI is: {{ bmi }}</h2>
        <h3>Choose your workout plan:</h3>
        
        <!-- Buttons for Home and Gym workout -->
        <button onclick="window.location.href='/home_workout/{{ bmi }}'">Home Workout</button>
        <button onclick="window.location.href='/gym_workout/{{ bmi }}'">Gym Workout</button>


        <div>
            <h3>Workout Plan:</h3>
            <ul>
                {% for item in workout_plan %}
                    <li>{{ item }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</body>
</html>
